@define-color Background rgba(30, 31, 32, 0.5);
@define-color BackgroundHover #414b5e;
@define-color AccentColor #89C1D1;

.panel {
  border-color: transparent;
}

/* Fancy rounded background color thing */
#pulseaudio-button {
  background-color: @Background;
  border-radius: 0px 0px 8px 8px;
}

#systray-9 .vertical {
  background-color: @Background;
  border-radius: 8px 8px 0px 0px;
  padding-top: 3px;
}

#genmon-1 .vertical {
  background-color: @Background;
  border-radius: 8px;
  margin-top: 4px;
  padding-bottom: 3px;
}
#genmon-1 .genmon_imagebox {
  background: none
}

/* For Workspace Switcher but its broken for some reason*/
/* #pager-11 .horizontal { */
/* 	border-radius: 8px; */
/* 	margin-top: 3px;  */
/* 	background-color: @Background; */
/*   font-size: 28px; */
/* } */

/* Workspace Switch Launcher */
#launcher-4 .flat {
  background-color: @Background;
  border-radius: 8px 8px 0 0;
}
#launcher-4 .flat:hover {
  background-color: @BackgroundHover;
  border-radius: 8px 8px 0 0;
}
#launcher-5 .flat,
#launcher-6 .flat {
  background-color: @Background;
}
#launcher-5 .flat:hover,
#launcher-6 .flat:hover {
	background-color: @BackgroundHover
}
#launcher-8 .flat {
  background-color: @Background;
  border-radius: 0 0 8px 8px;
}
#launcher-8 .flat:hover {
  background-color: @BackgroundHover;
  border-radius: 0 0 8px 8px;
}

/* icon size */
#launcher-4 image,
#launcher-5 image,
#launcher-6 image,
#launcher-8 image {
  -gtk-icon-transform: scale(0.83);
}

/* Systray & Pulseaudio */
#pulseaudio-button:hover {
  background-color: @BackgroundHover;
	border-radius: 0 0 8px 8px;
}

#systray-9 .vertical:hover {
  background-color: @BackgroundHover;
}

/* Little bit magic for workspace switcher */
/* #pager-11 #xfce-panel-toggle-button:nth-child(1):hover { */
/* 	border-radius: 8px 8px 0 0; */
/* } */
/* #pager-11 #xfce-panel-toggle-button:nth-child(4):hover { */
/* 	border-radius: 0 0 8px 8px; */
/* } */

/* #pager-11 #xfce-panel-toggle-button:checked { */
/* 	color: @AccentColor; */
/* 	background-color: transparent; */
/* } */
/* #pager-11 #xfce-panel-toggle-button:hover { */
/* 	color: @AccentColor; */
/* 	background-color: @BackgroundHover; */
/* } */
